/* Genarel Css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
  --text-black: #222222;
  --text-highlight: #fe424d;

  --bg-gray: #ebebeb;
  --bg-white: #ffffff;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  padding: 3rem 0;
}
/* Cards */
.card {
  border: none !important;
  height: 100%;
}
.listing-card:hover {
  transform: translateY(-0.6rem);
}
.card .card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important ;
  height: 20rem;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: var(--bg-white);
}
.card-body {
  display: flex;
  flex-direction: column;
}

.card-body a {
  margin-top: auto;
}
/* Button styling*/
.addnew-btn,
.edit-btn {
  background-color: var(--text-highlight) !important;
  border: none !important;
}

.highlight {
  color: var(--text-highlight) !important;
}
/* Navbar Css */
.navbar {
  height: 5rem;
}
.navbar .nav-logo {
  height: 4rem;
}
.nav-link {
  color: var(--text-black) !important ;
}
/* Show Page */
.show-img {
  height: 30vh;
}
.show-btns {
  margin-left: 1rem;
  display: flex;
  gap: 2rem;
}
.show-wrapper ul {
  list-style: none;
  padding: 0 0.2rem;
}

/* index page  */

/* Footer Style */
.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.f-info-social i {
  font-size: 1.2rem;
  gap: 2rem;
}
.f-info-links a {
  text-decoration: none;
  color: var(--text-black);
  gap: 2rem;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: var(--bg-gray);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
