<% layout("/layouts/boilerplate") %>
<h2> All listings</h2>
    <ul>
        <% listings.forEach(listing=> { %>
            <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% }) %>
    </ul>