<!-- Footer section -->
<section id="contact" class="footer_wrapper wrapper">
  <div class="container pb-3">
    <div class="row">
      <div class="col-lg-5 cl-md-6 mb-4">
        <h5 class="mb-4">Our Location</h5>
        <p class="ps-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
          labore ex totam? Reiciendis inventore accusantium sit quas iusto
          suscipit sed quo ea illo quaerat ducimus asperiores, amet
          necessitatibus blanditiis nesciunt?
        </p>
        <div class="contact-info col-md-6">
          <ul class="list-unstyled">
            <li>
              <a href=""
                ><i class="fa fa-home me-3"></i
                >Ovijan:17,Auchpara,Tongi,Gazipur</a
              >
            </li>
            <li>
              <a href=""><i class="fa fa-phone me-3"></i>01812116611</a>
            </li>
            <li>
              <a href=""
                ><i class="fa fa-envelope me-3"></i>Mahirejone@gmail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <ul class="link-widget p-0">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#facts">Facts</a></li>
          <li><a href="#contacts">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-6 mb-4">
        <h5 class="mb-4">Newsletter</h5>
        <div class="input-group mb-5">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Your Massage"
          />
          <button class="btn main-btn" type="button">Submit</button>
        </div>
        <h5>Stay Conneced</h5>
        <ul class="Social-Network d-flex align-items-center p-0 list-unstyled">
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-vimeo-v"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid copyright-section">
    <p class="p-0">Copyright <a href="">© Lorem ipsum </a></p>
  </div>
</section>
<!-- Footer section exit -->
