<% layout("/layouts/boilerplate") %>
  <div class="row wrapper">
    <div class="alert  col-6 offset-3" role="alert">
      <h2>Oops! Something went wrong</h1>
      <div class="error-icon">
        <i class="fas fa-exclamation-triangle" style="color: #00ff37;"></i>
      </div>
      <p class="error-message mb-3">
        <%= message %>
      </p>
      <a href="/" class="btn"  style=" background-color: #00ff37; ">Go Back Home</a>
    </div>
  </div>