/* Genarel Css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
    --text-black : #222222 ;
    
    --bg-white : #ffffff;
}

/* Navbar Css */
.navbar{
    height: 5rem;
}
.navbar .nav-logo{
    height: 4rem;
}
.nav-link{
    color:var(--text-black) !important ;
}